discord.py==2.2.2
faiss==1.5.3
faiss_cpu==1.7.3
fastapi==0.95.0
fire==0.5.0
langchain==0.0.123
numpy==1.24.2
openai==0.27.2
pinecone==0.1.0
pinecone_client==2.2.1
python-dotenv==1.0.0
torch==2.0.0
transformers==4.27.2
uvicorn==0.21.1
youtube_search_python==1.6.6
